.navigation {
    grid-area: nav;
    background-color: blue;
  }

.navigation__item:hover {
    color: rgb(37, 23, 20);
}

.navigation__item.active {
    color: rgb(245, 49, 0);
}

.navigation__item {
    color: aliceblue;
    margin: 10px 0 20px 20px;
    text-decoration: none; 
    font: 600 24px Arial, Helvetica, sans-serif;
    display: block;
}

